// 主色
  //$color-primary: #409EFF;
 //$color-primary: #0F73F0;
//  $color-primary:#FF6A00;
//  $color-primary:#262626;

$color-primary:#254000;
$color-fu:#5B7FF1;
$color-win:#707065;
// 辅助色
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// 文字色
$color-first-text: #303133;
$color-second-text: #606266;
$color-third-text: #909399;
$color-fourth-text: #C0C4CC;

// 边框色
$color-first-border: #DCDFE6;
$color-second-border: #E4E7ED;
$color-third-border: #EBEEF5;
$color-fourth-border: #F2F6FC;

//Ant Design 
//绿色
$green-4: #95de64;
$green-9: #135200;
$green-10:#092b00;
$lime-7:#7cb305;
$lime-8:#5b8c00;
$lime-10:#254000;