.el-table th.gutter{
    display: table-cell !important
}

.el-scrollbar{
    .el-scrollbar__wrap{
        overflow-x: hidden
    }
}

.el-button + .el-dropdown{
    margin-left: 10px
}

.el-dropdown-menu{
    min-width: 100px
}

.el-select-dropdown__list{
    padding: 6px 0 20px 0 !important;
}

.el-form{
    .fixed-wrap{
        display: inline-block;
        width: 270px;
        margin-right: $spacing-xs;
        .input-box{
            width: 100%
        }
    }
}

.el-table {
    font-size: $font-size-small;
    th div{
        vertical-align: middle;
        padding: 0;
    }
    .el-table__header{
        th{
            padding: 6px 0;
            background: #eef1f6;
            color: #606266;
            .cell{
                font-weight: 700
            }
        }
    }
    .el-table__empty-block{
        background:rgba(238,241,246, 0.4);
    }
}

.el-card{
    &.hide-shadow{
        box-shadow: 0 0 0 0 !important;
    }
    .el-card__header{
        padding: 10px 20px;
        line-height: 20px;
        .card-title{
            display: inline-block;
            padding-left: 5px;
            border-left: 3px solid $color-primary;
            font-size: $font-size-medium;
            font-weight: 700;
        }
        .right{
            float: right;
            .text{
                font-size: $font-size-medium
            }
        }
        .block-wrap{
            display: inline-block;
            margin: 0 $spacing-xs
        }
    }
}

.el-button--text.el-button--small,.el-button--small,.el-form-item__label{
    font-size: $font-size-small;
    font-family: $pms-font-family;
}

.el-button--small.is-circle{
    padding: 6px;
}

.el-tabs__nav-next, .el-tabs__nav-prev{
    line-height: 40px;
}
.el-menu-item, .el-submenu__title{
    height: 36px;
    line-height: 36px;
}
.el-table{
    & /deep/ .el-button{
        padding:5px 5px;
    }
}
.el-input__inner{
    font-size: $font-size-small;
    font-family: $pms-font-family;
}
.el-dialog__title{
    font-size: $font-size-medium;
    font-weight: 700 !important;
}
.el-table .caret-wrapper{
    height: 23px;
    width: 15px;
}
.el-table .sort-caret.descending{
    bottom: 1px;
}
.el-table .sort-caret.ascending{
    top:1px
}
.el-drawer__header span{
    color: #303133;
    font-weight: 700;
    font-size: $font-size-medium-x;
}
.el-radio__label,.el-tree-node__label,.el-select-dropdown__item,.el-cascader-node__label,.el-breadcrumb__inner,.el-submenu__title,.el-menu-item,.el-tooltip__popper,.el-form /deep/ label{
    font-size: $font-size-small;
}
.el-tabs__item{
    font-size: $font-size-medium;
}
.el-dialog__body{
    padding-top: 10px;
    padding-bottom: 10px;
}
.el-cascader-menu__list{
    padding-bottom: 24px;
}

.el-dialog__header {
    background: $color-fu;
    padding: 8px 8px 8px 8px;
}

.el-dialog__headerbtn{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
}

.el-dialog__title{
    line-height: 24px;
    font-size: 18px;
    color: white;
}
// .el-input {
//     position: relative;
//     font-size: 14px;
//     display: inline-block;
//     width: 80%;
// }